.product-button {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 18px;
    padding: 8px 12px;
    border: 1px solid;
    border-radius: 8px;
    background-color: var(--color-light);
    cursor: pointer;
}

.product-button:hover {
    background-color: var(--color-btn-hover);
}

.product-button:active {
    background-color: var(--color-btn-active);
}