.product-loading {
    display: flex;
    flex-direction: column;
    width: 30%;
    border: 1px solid;
    border-radius: 16px;
    background-color: var(--color-card);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.product-loading-info {
    padding: 15px;
}

.product-loading-info > *:not(:last-child) {
    margin-bottom: 16px;
}

@keyframes shine {
    to {
        background-position-x: -200%;
    }
}

.product-loading-img,
.info-title,
.info-id {
    background: #eee;
    background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
    border-radius: 5px;
    background-size: 200% 100%;
    animation: 1.5s shine linear infinite;
}

.product-loading-img {
    border-radius: var(--product-img-border-radius);
    height: 200px;
}

.info-title {
    height: 60px;
}

.info-id {
    height: 156px;
}

@media (min-width: 579px) and (max-width: 960px) {
    .product-loading {
        width: 48% !important;
    }
}

@media (max-width: 578px) {
    .product-loading {
        width: 100% !important;
    }
}