.filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.filter-product,
.filter-brand,
.filter-price {
    border-radius: 8px;
    width: 23%;
    border: 1px solid;
}

.filter-button {
    border: 1px solid;
    border-radius: 8px;
    width: 10%;
    margin: 0;
}

.filter-product,
.filter-brand,
.filter-price,
.filter-button {
    padding: 8px 12px;
    font-size: 18px;
}

@media (min-width: 579px) and (max-width: 960px) {
    .filter {
        gap: 8px;
    }

    .filter-product,
    .filter-brand,
    .filter-price {
        width: 20% !important;
    }

    .filter-button {
        width: 15% !important;
    }
}

@media (max-width: 578px) {
    .filter {
        gap: 8px;
    }

    .filter-product,
    .filter-brand,
    .filter-price {
        width: 100% !important;
        text-align: center;
    }

    .filter-button {
        width: 100% !important;
    }
}


