@font-face {
    font-family: "Montserrat", sans-serif;
    src: url("shared/fonts/Montserrat-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat", sans-serif;
    src: url("shared/fonts/Montserrat-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

:root {
    --color-dark: #191A23;
    --color-light: #FFFFFF;
    --color-light-grey: #F5F5F5;
    --color-background-header: #8693D580;
    --color-card: #8693d5;
    --color-btn-hover: #e5eaff;
    --color-btn-active: #c2cefd;
    --transition-duration: 0.2s;
    --font-family-base: 'Montserrat', sans-serif;
    --container-width: 1240px;
    --container-padding-x: 20px;

    --desktop-above: 1281px;
    --desktop: 1280px;
    --tablet-above: 1024px;
    --tablet: 1023px;
    --mobile-above: 768px;
    --mobile: 767px;

    --product-img-border-radius: 15px 15px 0 0;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol,
li {
    list-style-type: none;
}

a,
button,
svg * {
    text-decoration: none;
    transition-duration: var(--transition-duration);
}
::placeholder {
    color: var(--color-dark);
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.28;
    color: var(--color-dark);
    background-color: var(--color-light-grey);
}
